{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}
Просмотр статьи
{% endblock %}

{% block content %}
<div class="container">
    <div class="card-body">
        <h2 class="card-title">{{ object.title }}</h2>

        {% if object.blog_image %}
            <div class="image-container">
                <img class="rounded d-block" src="{{ object.blog_image|upload_media }}" alt="Article Image" width="25%"
                     height="50%">
            </div>
        {% endif %}

        <p class="card-text">{{ object.article_content }}</p>
        <p><strong>Дата публикации:</strong> {{ object.published_date }}</p>
        <p><strong>Количество просмотров:</strong> {{ object.view_count }}</p>
    </div>
    <a href="{% url 'mailing_service:homepage' %}" class="btn btn-primary btn-sm">Назад</a>
</div>
{% endblock %}