{% extends 'base.html' %}
{% block title %}
Удаление клиента
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="col-md-6 offset-md-3">

        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Удаление клиента</h2>

                    <p class="card-text">
                        Пожалуйста, подтвердите запрос на удаление клиента.<br>
                        Почта: {{ object.email}}<br>
                        Имя: {{ object.first_name}} | Фамилия: {{ object.surname}}
                    </p>

                    <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    <a href="{% url 'mailing_service:customers_list' %}" class="btn btn-primary btn-sm">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}