{% extends 'base.html' %}
{% block title %}
Все пользователи
{% endblock %}
{% block content %}
{% for object in object_list %}
<div class="container mt-4">

    <table class="table">

        <thead>
        <tr>
            <th>id</th>
            <th>Почта</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Редактировать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ object.pk }}</th>
            <td>{{ object.email }}</td>
            <td>{{ object.first_name }}</td>
            <td>{{ object.surname }}</td>
            <td><a href="{% url 'mailing_service:customer_update' object.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
            </td>
            <td><a href="{% url 'mailing_service:customer_delete' object.pk %}"
                   class="btn btn-danger btn-sm">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
{% endfor %}
{% if not object_list %}
<div class="container mt-4">
    <div class="col-md-6 offset-md-3">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Информация о клиентах</h2>

                <p class="card-text">
                    В данный момент зарегистрированных пользователей не существует
                </p>

                <a href="{% url 'mailing_service:mailing_menu' %}" class="btn btn-outline-primary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}